@import 'variables';

.PostsList{
  flex: 10 1;
  padding: 5px;
}

.PostsListItem{
  list-style: none;
  background-color: $glassPanelColor;
  text-align: left;
}

.PostsListItemContent>p{
  margin: 0;
  padding: 0;
}