#SideMenu{
  flex: 1 1;
  min-width: 175px;
  background-color: rgba(115,127,140,0.8);
  border-right: 2px solid #343a40;
}
#SideMenu>h5{
  height: 40px;
  background-color: #17a2b8;
  border-bottom: 2px solid #343a40;
  margin-bottom: 0;
}