@keyframes threadsListItemDefault{
  0%{
    background-color: rgba(70,78,85,0.8);
    border-right: 20px solid #CF873F;
    border-left: 20px solid #CF873F;
    padding-left: 30px;
    padding-right: 30px;
  }
  50%{
    background-color: rgba(57, 64, 70, 0.8);
    border-left: 0 solid #343a40;
    border-right: 0 solid #343a40;
    padding-left: 50px;
    padding-right: 50px;
  }
  100%{
    background-color: rgba(57, 64, 70, 0.8);
    border-left: 20px solid #343a40;
    border-right: 20px solid #343a40;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@keyframes threadsListItemHover {
  0%{
    background-color: rgba(57, 64, 70, 0.8);
    border-left: 20px solid #343a40;
    border-right: 20px solid #343a40;
    padding-left: 30px;
    padding-right: 30px;
  }
  25%{
    border-left: 30px solid #343a40;
    border-right: 30px solid #343a40;
    padding-left: 20px;
    padding-right: 20px;
  }
  50%{
    background-color: rgba(57, 64, 70, 0.8);
    border-left: 0 solid #343a40;
    border-right: 0 solid #343a40;
    padding-left: 50px;
    padding-right: 50px;
  }
  75% {
    border-left: 30px solid #CF873F;
    border-right: 30px solid #CF873F;
    padding-left: 20px;
    padding-right: 20px;
  }
  100%{
    background-color: rgba(70,78,85,0.8);
    border-right: 20px solid #CF873F;
    border-left: 20px solid #CF873F;
    padding-left: 30px;
    padding-right: 30px;
  }
}