@import 'variables';
@import "threadsListAnimations";

.ThreadsList{
  flex: 10 1;

  a:hover{
    text-decoration: none;
  }
}

.ThreadsListItem-Link:first-child{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.ThreadsListItem-Link:last-child{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ThreadsListItem,
.ThreadsListItem-NoHover,
.ThreadsListNewItem{
  list-style: none;
  /*put minheight, maxheight, and make clickable to expand*/
  color: rgba(255,255,255,0.8);
  background-color: rgba(57, 64, 70, 0.8);
  border-left: 20px solid #343a40;
  border-right: 20px solid #343a40;
  display: flex;
  flex-direction: row;
  text-align: left;
  padding-left:30px;
  padding-right: 30px;
}
.ThreadsListItem{
  animation-name: threadsListItemDefault;
  animation-duration: .5s;
  animation-timing-function: ease-out;
}
.ThreadsListItem-NoHover{
  border-bottom: 15px solid transparent;
  border-left: 20px solid #CF873F;
  border-right: 20px solid #CF873F;
}

.ThreadsListNewItem{
  padding: 0;
  border-left: 20px solid $highlightColor2;
  border-right: 20px solid $highlightColor2;
  
  :hover input[type=text]{
    background-color: rgba(70,78,85,0.8);
  }

  input[type=text]{
    border-radius: 0;
  }

  input[type=text]:focus,
  input[type=text]:hover{
    background-color: rgba(70,78,85,0.8);
    box-shadow: none;
  }

  .ThreadsListNewItemButton{
    flex: 1 1;

    button{
      width: 100%;
      height: 100%;
      border-radius: 0;
      border: none;
      padding: 0;
    }
    button:hover{
      background-color: $highlightColor2;
    }
  }

  .ThreadsListItemBody{
    flex: 12 1;
    display:flex;

    :hover{
      background-color: rgba(255,255,255,0.8);
    }
  }

  .ThreadsListItemHead{
    flex: 3 1;
    height: 100%;
    
    :hover{
      background-color: #fff;
    }
  }
  .ThreadsListItemContent{
    flex: 8 1;
    margin: 0;

    :hover{
      background-color: #fff;
    }
  }

  input[type=text]::placeholder{
    color: $highlightColor2;
  }

  .form-control{
    color: #FFFFFF;
    border: none;
    background-color: transparent;
  }
}


.accents{
  font-size: 2rem;
  color: $primaryColor1;
}
.ThreadsListItem:hover .accents{
  color: $highlightColor2;
}

.ThreadsListItem:hover{
  border-right: 20px solid #CF873F;
  border-left: 20px solid #CF873F;
  background-color: rgba(70,78,85,0.8);
  animation-name: threadsListItemHover;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  cursor: pointer;
  box-shadow: 0 0 5px white;
  text-decoration: none;
}
.ThreadsListItem>a:hover{
  color: rgba(255,255,255,0.8);
}
.ThreadsListItem>h3{
  margin: 0;
  color: #FFFFFF;
}
.ThreadsListItemHead{
  flex: 1 1;
  display: flex;
  flex-direction: column;
}
.ThreadsListItemAuthor{
  font-size: .85rem;
  color: #CF873F;
  padding-left: 30px;
}
.ThreadsListItemContent{
  font-size: .9rem;
  color: rgba(255,255,255,0.8);
  flex: 3 1;
  margin: 0 20px;
}