@import "threadsListAnimations";

.ThreadsList{
  flex: 10 1;

  a:hover{
    text-decoration: none;
  }
}

.ThreadsListItem-Link:first-child{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.ThreadsListItem-Link:last-child{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ThreadsListItem,
.ThreadsListItem-NoHover{
  list-style: none;
  /*put minheight, maxheight, and make clickable to expand*/
  color: rgba(255,255,255,0.8);
  background-color: rgba(57, 64, 70, 0.8);
  border-left: 20px solid #343a40;
  border-right: 20px solid #343a40;
  display: flex;
  flex-direction: row;
  text-align: left;
  padding-left:30px;
  padding-right: 30px;
}
.ThreadsListItem{
  animation-name: threadsListItemDefault;
  animation-duration: .5s;
  animation-timing-function: ease-out;
}
.ThreadsListItem-NoHover{
  border-bottom: 15px solid transparent;
  border-left: 20px solid #CF873F;
  border-right: 20px solid #CF873F;
}

.ThreadsListItem:hover{
  border-right: 20px solid #CF873F;
  border-left: 20px solid #CF873F;
  background-color: rgba(70,78,85,0.8);
  animation-name: threadsListItemHover;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  cursor: pointer;
  box-shadow: 0 0 5px white;
  text-decoration: none;
}
.ThreadsListItem>a:hover{
  color: rgba(255,255,255,0.8);
}
.ThreadsListItem>h3{
  margin: 0;
  color: #FFFFFF;
}
.ThreadsListItemHead{
  flex: 1 1;
  display: flex;
  flex-direction: column;
}
.ThreadsListItemTitle{
  color: rgba(255,255,255,0.8);
}
.ThreadsListItemAuthor{
  color: #CF873F;
  padding-left: 30px;
}
.ThreadsListItemContent{
  color: rgba(255,255,255,0.8);
  flex: 3 1;
  /*border-left: thick double #343a40;*/
}