body {
    background: url("../assets/hex-pattern.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
ul{
    margin: 0;
    padding: 0;
}
a{
    outline: none;
}

.page{
    flex: 1 1;
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(80,80,80,0.6);
}

#HomePage,
#DashPage,
#AboutPage,
#ProfilePage,
#LoginPage,
#SectionsPage{
    flex: 7 5;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#DashPage{
    display: flex;
    flex-direction: column;
}

#DashPage>nav{
    height: 40px;
    margin-left: 2px;
    background-color: rgba(115,127,140,0.8);
    border-left: thick double #343a40;
    border-bottom: 2px solid #343a40;
}

#SideMenu{
    flex: 1 1;
    min-width: 175px;
    background-color: rgba(115,127,140,0.8);
    border-right: 2px solid #343a40;
}
#SideMenu>h5{
    height: 40px;
    background-color: #17a2b8;
    border-bottom: 2px solid #343a40;
    margin-bottom: 0;
}
#SectionsPage{
    display: flex;
    flex-direction: column;
}

.SectionsPageHeader{
    flex: 1 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    border-bottom: 2px solid #343a40;
}
.SectionsPageHeader>h3{
    flex: 1 1;
    flex-wrap: nowrap;
    padding: 10px;
    margin: 0;
    color: rgba(255,255,255,.5);
    background-color: #343a40;

    height: 100%;
    line-height: 1.7;
}
.SectionsPageHeader>p{
    flex: 3 1;
    padding: 10px;
    border-left: thick double #343a40;
    border-right: thick double #343a40;
    height: 100%;
    margin: 0;
    background-color: rgba(115,127,140,0.8);
}

.SectionListItem{
    list-style: none;
    background-color: rgba(255,255,255,0.2);
    padding: 3px 0;
}
.SectionListItem:hover{
    background-color: rgba(255,255,255,0.5);
}

.SectionListLink,
.SectionListLink:active,
.SectionListLink:hover{
    color: black;
    text-decoration: none;
}

.ThreadsList{
    flex: 10 1;
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
}
.ThreadsListItem{
    list-style: none;
    height: 50px;
    background-color: rgba(57, 64, 70, 0.8);
    margin: 0;
    border: thick double #343a40;
}
.ThreadsListItem:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.ThreadsListItem:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.ThreadsListItem:hover{
    border: thick solid #17a2b8;
}
.ThreadsListItem>h3{
    margin: 0;
}


#LoginPage{

}

#Footer{
    height: 40px;
    color: rgba(255,255,255,.5);
    background-color: #413B35;
}

.dash-nav{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}
.dash-body{
    flex: 1 1;
    background-color: rgba(255,255,255,0.9);
    margin-left: 10px;
    border-left: thick double #343a40;
    z-index: -1;
}

.sub-nav-link{
    height: 50px;
    color: black;
    list-style: none;
    padding: 7px;
    margin: 0 5px 0 5px;
    background-color: #d9dadc;
    border-left: 2px solid #343a40;
    border-right: 2px solid #343a40;
    border-bottom: 2px solid #343a40;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.sub-nav-link:hover{
    color: #d9dadc;
    height: 60px;
    background-color: #343a40;
    border-right: 2px solid #343a40;
    border-left: 2px solid #343a40;
    border-bottom: 2px solid #343a40;
    transition: all 0.15s;
}
.add-nav-link{
    width: 60px;
}



/*=============================================================*/
/*  Overwrite bootstrap */
/*=============================================================*/
.jumbotron{
    color: #17a2b8;
    background-color: rgba(57, 64, 70, 0.8);
    margin: 100px auto auto 150px;
    max-width: 50%;
    /*max-height: 50%;*/
}
.jumbotron>h1{
    color: #FFF;
}
.nav-links{
    color: rgba(255,255,255,.5);
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link{
    color: #17a2b8;
}
#LoginPage>form{
    color: #17a2b8;
    background-color: rgba(57, 64, 70, 0.8);
    margin: 100px auto auto 150px;
    max-width: 50%;
    padding: 30px;
    border-radius: 4px;
}
#LoginPage>form>h2{
    color: #FFF;
}


/*=============================================================*/
/*  Overwrite Font Awesome */
/*=============================================================*/
svg{
    margin: 0 3px 0 3px;
}

