body {
    background: url("../assets/hex-pattern.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page{
    flex: 1 1;
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(80,80,80,0.6);
}

#HomePage,#DashPage{
    flex: 5 5;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#SideMenu{
    flex: 1 1;
    min-width: 175px;
    background-color: rgba(115,127,140,0.8);
}

#Footer{
    height: 40px;
    color: #17a2b8;
    background-color: #413B35;
}



/*=============================================================*/
/*  Overwrite bootstrap */
/*=============================================================*/
.jumbotron{
    color: #17a2b8;
    background-color: rgba(57, 64, 70, 0.8);
    margin: auto auto;
    max-width: 50%;
    /*max-height: 50%;*/
}
.jumbotron>h1{
    color: #FFF;
}