body {
  background: url("../assets/4th.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
}

#DashPage > nav {
  height: 40px;
  margin-left: 2px;
  background-color: rgba(115, 127, 140, 0.8);
  border-left: thick double #343a40;
  border-bottom: 2px solid #343a40;
}

.dash-nav {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.dash-body {
  flex: 1 1;
  margin-left: 10px;
  z-index: -1;
}

.sub-nav-link {
  height: 50px;
  color: black;
  list-style: none;
  padding: 7px;
  margin: 0 5px 0 5px;
  background-color: #d9dadc;
  border-left: 2px solid #343a40;
  border-right: 2px solid #343a40;
  border-bottom: 2px solid #343a40;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.sub-nav-link:hover {
  color: #d9dadc;
  height: 60px;
  background-color: #343a40;
  border-right: 2px solid #343a40;
  border-left: 2px solid #343a40;
  border-bottom: 2px solid #343a40;
  transition: all 0.15s;
}

.add-nav-link {
  width: 60px;
}

.page {
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(80, 80, 80, 0.4);
}

#HomePage,
#DashPage,
#AboutPage,
#ProfilePage,
#LoginPage,
#ThreadsPage {
  flex: 7 5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#DashPage {
  display: flex;
  flex-direction: column;
}

#LoginPage > form {
  color: #CF873F;
  background-color: rgba(57, 64, 70, 0.8);
  margin: 100px auto auto 150px;
  max-width: 50%;
  padding: 30px;
  border-radius: 4px;
}

#LoginPage > form > h2 {
  color: #FFF;
}

.form-control:focus {
  border: 1px solid #17a2b8;
  box-shadow: 0 0 5px 5px #17a2b8;
}

#SideMenu {
  flex: 1 1;
  min-width: 175px;
  background-color: rgba(115, 127, 140, 0.8);
  border-right: 2px solid #343a40;
}

#SideMenu > h5 {
  height: 40px;
  background-color: #17a2b8;
  border-bottom: 2px solid #343a40;
  margin-bottom: 0;
}

#SideMenu .form-control {
  text-align: center;
  border: none;
  margin: 0;
  border-radius: 0;
  border-bottom: 2px solid #343a40;
}
#SideMenu .form-control:focus {
  border: 1px solid #CF873F;
  box-shadow: 0 0 5px 5px #CF873F;
}

#SectionsPage {
  flex: 7 5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#SectionsPage {
  display: flex;
  flex-direction: column;
}

.SectionsPageHeader {
  flex: 1 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 2px solid #343a40;
  border-left: 20px solid #343a40;
  border-right: 20px solid #343a40;
}

.SectionsPageHeader > h4 {
  flex: 1 1;
  flex-wrap: nowrap;
  padding: 10px;
  margin: 0;
  color: #CF873F;
  background-color: #343a40;
  text-transform: uppercase;
  height: 100%;
  line-height: 1.7;
}

.SectionsPageHeader > p {
  flex: 3 1;
  padding: 10px;
  border: thick double #343a40;
  height: 100%;
  margin: 0;
  background-color: rgba(115, 127, 140, 0.8);
}

.SectionsPageBody {
  flex: 10 1;
}

#ThreadsListEnd {
  background-color: #343a40;
  height: 30px;
}

.SectionListItem {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 3px 0;
}

.SectionListItem:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.SectionListLink,
.SectionListLink:active,
.SectionListLink:hover {
  color: black;
  text-decoration: none;
}

#ThreadsPage {
  display: flex;
  flex-direction: column;
}

.ThreadsPageHeader {
  flex: 1 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 2px solid #343a40;
}

.ThreadsPageDescription > p {
  flex: 3 1;
  padding: 10px;
  border-left: thick double #343a40;
  border-right: thick double #343a40;
  border-top: thick double #343a40;
  border-bottom: thick double #343a40;
  height: 100%;
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(57, 64, 70, 0.8);
  font-size: 18px;
}

.ThreadsListHeader {
  list-style: none;
  /*put minheight, maxheight, and make clickable to expand*/
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(57, 64, 70, 0.8);
  border-left: 20px solid #343a40;
  border-right: 20px solid #343a40;
  display: flex;
  flex-direction: row;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  animation-name: threadsListItemDefault;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes threadsListItemDefault {
  0% {
    background-color: rgba(70, 78, 85, 0.8);
    border-right: 20px solid #CF873F;
    border-left: 20px solid #CF873F;
    padding-left: 30px;
    padding-right: 30px;
  }
  50% {
    background-color: rgba(57, 64, 70, 0.8);
    border-left: 0 solid #343a40;
    border-right: 0 solid #343a40;
    padding-left: 50px;
    padding-right: 50px;
  }
  100% {
    background-color: rgba(57, 64, 70, 0.8);
    border-left: 20px solid #343a40;
    border-right: 20px solid #343a40;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@keyframes threadsListItemHover {
  0% {
    background-color: rgba(57, 64, 70, 0.8);
    border-left: 20px solid #343a40;
    border-right: 20px solid #343a40;
    padding-left: 30px;
    padding-right: 30px;
  }
  25% {
    border-left: 30px solid #343a40;
    border-right: 30px solid #343a40;
    padding-left: 20px;
    padding-right: 20px;
  }
  50% {
    background-color: rgba(57, 64, 70, 0.8);
    border-left: 0 solid #343a40;
    border-right: 0 solid #343a40;
    padding-left: 50px;
    padding-right: 50px;
  }
  75% {
    border-left: 30px solid #CF873F;
    border-right: 30px solid #CF873F;
    padding-left: 20px;
    padding-right: 20px;
  }
  100% {
    background-color: rgba(70, 78, 85, 0.8);
    border-right: 20px solid #CF873F;
    border-left: 20px solid #CF873F;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.ThreadsList {
  flex: 10 1;
}
.ThreadsList a:hover {
  text-decoration: none;
}

.ThreadsListItem-Link:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.ThreadsListItem-Link:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ThreadsListItem,
.ThreadsListItem-NoHover,
.ThreadsListNewItem {
  list-style: none;
  /*put minheight, maxheight, and make clickable to expand*/
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(57, 64, 70, 0.8);
  border-left: 20px solid #343a40;
  border-right: 20px solid #343a40;
  display: flex;
  flex-direction: row;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}

.ThreadsListItem {
  animation-name: threadsListItemDefault;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.ThreadsListItem-NoHover {
  border-bottom: 15px solid transparent;
  border-left: 20px solid #CF873F;
  border-right: 20px solid #CF873F;
}

.ThreadsListNewItem {
  flex: 0.75 1;
  padding: 0;
  border-left: 20px solid #CF873F;
  border-right: 20px solid #CF873F;
}
.ThreadsListNewItem :hover input[type=text] {
  background-color: rgba(70, 78, 85, 0.8);
}
.ThreadsListNewItem input[type=text] {
  border-radius: 0;
  height: 100%;
}
.ThreadsListNewItem input[type=text]:focus,
.ThreadsListNewItem input[type=text]:hover {
  background-color: rgba(70, 78, 85, 0.8);
  box-shadow: none;
}
.ThreadsListNewItem .ThreadsListNewItemButton {
  flex: 1 1;
}
.ThreadsListNewItem .ThreadsListNewItemButton button {
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: none;
  padding: 0;
}
.ThreadsListNewItem .ThreadsListNewItemButton button:hover {
  background-color: #CF873F;
}
.ThreadsListNewItem .ThreadsListItemBody {
  flex: 12 1;
  display: flex;
}
.ThreadsListNewItem .ThreadsListItemBody :hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.ThreadsListNewItem .ThreadsListItemHead {
  flex: 3 1;
  height: 100%;
}
.ThreadsListNewItem .ThreadsListItemHead :hover {
  background-color: #fff;
}
.ThreadsListNewItem .ThreadsListItemContent {
  flex: 8 1;
  margin: 0;
}
.ThreadsListNewItem .ThreadsListItemContent :hover {
  background-color: #fff;
}
.ThreadsListNewItem input[type=text]::placeholder {
  color: #CF873F;
}
.ThreadsListNewItem .form-control {
  color: #FFFFFF;
  border: none;
  background-color: transparent;
}

.accents {
  font-size: 2rem;
  color: #343a40;
}

.ThreadsListItem:hover .accents {
  color: #CF873F;
}

.ThreadsListItem:hover {
  border-right: 20px solid #CF873F;
  border-left: 20px solid #CF873F;
  background-color: rgba(70, 78, 85, 0.8);
  animation-name: threadsListItemHover;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  cursor: pointer;
  box-shadow: 0 0 5px white;
  text-decoration: none;
}

.ThreadsListItem > a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.ThreadsListItem > h3 {
  margin: 0;
  color: #FFFFFF;
}

.ThreadsListItemHead {
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.ThreadsListItemAuthor {
  font-size: 0.85rem;
  color: #CF873F;
  padding-left: 30px;
}

.ThreadsListItemContent {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
  flex: 3 1;
  margin: 0 20px;
}

.orangeBorder {
  flex: 10 1;
  display: flex;
  flex-direction: column;
  border-left: 2px solid #CF873F;
  border-right: 2px solid #CF873F;
}

.PostsList {
  flex: 1 1;
  border-top: 20px solid transparent;
  border-left: 20px solid #343a40;
  border-right: 20px solid #343a40;
  background-color: rgba(57, 64, 70, 0.8);
  display: flex;
  flex-direction: column;
}

.PostsListItem {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.8);
  background-color: #343a40;
  list-style: none;
  text-align: left;
  margin-top: 3px;
}
.PostsListItem .PostsListItemHead {
  flex: 1 1;
}
.PostsListItem .PostsListItemHead h5 {
  color: #CF873F;
  padding-left: 20px;
  margin: 5px;
}
.PostsListItem .PostsListItemBody {
  flex: 5 1;
}
.PostsListItem .PostsListItemBody p {
  margin: 5px;
  padding: 0 0 0 40px;
}

.PostsListItem:first-child {
  margin-top: 0px;
}

/*=============================================================*/
/*  Overwrite bootstrap */
/*=============================================================*/
.jumbotron {
  color: #CF873F;
  background-color: rgba(57, 64, 70, 0.8);
  margin: 100px auto auto 150px;
  max-width: 50%;
}

.jumbotron > h1 {
  color: #FFF;
}

.nav-links {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #17a2b8;
}

/*=============================================================*/
/*  Overwrite Font Awesome */
/*=============================================================*/
svg {
  margin: 0 3px 0 3px;
}

#Footer {
  height: 40px;
  color: rgba(255, 255, 255, 0.5);
  background-color: #343a40;
}

.WelcomeButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#goToLoginButton {
  padding-right: 6px;
}

/*# sourceMappingURL=styles.css.map */
